﻿#container {
    width : 771px;
    height : 100%;	
    margin : 0px auto;
}

#login {
    background-image : url(../web/../image/LighBlue.png);
    border : #3AA9F4 2px solid;
    border-right-style : dotted;
    
    width : 150px;
    height : 160px;
    padding : 10px 10px 10px 10px;
    
    float : left;
    top : 25px;
    position : fixed;
    
    line-height : 30px;
    font-size : 25px;
}

#content {
    background-image : url(../web/../image/LighBlue.png);
    border : #3AA9F4 2px solid; 
    border-left-style : dotted;

    height : 560px;
    width : 560px;
    padding : 10px 10px 10px 10px;

    float : right; 
    overflow : auto;
}

#controls {
    border : #3AA9F4 2px solid;
    
    height : 240px;
    width : 240px;
    padding : 10px 10px 10px 10px;
    
    float : left; 
    overflow : auto;
}

#footer {
    background-color : #FFA500; 
    clear : both; 
    text-align : center;
}




