﻿body {
    background-attachment : fixed;
    font-family : Microsoft JhengHei;
    color : #003B80;
}

ul.myStyle {
    list-style : url(../web/image/Bullet.png) none inside;
}

li.FontStyle {
    font-size : 22px;
    line-height : 45px;
}

font.myStayle{
    color : #FF5809;
    background-image : url(../web/../image/DarkBlue.png);
}

b.OrangeFontColor {
    color : #FF5809;
}

a {
    text-decoration : none;
    color : #003B80;
}

a:hover { 
    text-decoration : underline;
}

a:visited {
    color : #003B80;
}

input.LoginTextBox {
    font-size : 22px;
    font-family : Microsoft JhengHei;
    
    width : 150px;
}

input.LoginButton {
    font-size : 20px;
    font-family : Microsoft JhengHei;
    
    width : 70px;
    height : 35px;
}

input.LogoutButton {
    font-size : 20px;
    font-family : Microsoft JhengHei;
    
    width : 70px;
    height : 35px;
}

input.SwitchButton {
    font-size : 20px;
    font-family : Microsoft JhengHei;
    
    width : 150px;
    height : 35px;
}




